resources/views/emails/**/*.blade.php
resources/views/tasks/**/*.blade.php
resources/views/vendor/**/*.blade.php
resources/views/components/server/**/*.blade.php
resources/views/components/task-shell-defaults.blade.php