includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    checkOctaneCompatibility: true
    level: 5
    paths:
        - app/

#   ignoreErrors:
#       -
#           message: '#Property [a-zA-Z0-9\\_]+::\$[a-zA-Z0-9\\_]+ is never read, only written.#'
#           paths:
#               - app/Tasks/*

    excludePaths:
        - ./app/Actions/Fortify/*
        - ./app/Actions/Jetstream/*
        - ./app/Providers/SparkServiceProvider.php
#
#    checkMissingIterableValueType: false